.product-detail-container{
  margin: 0 100px;
}
.fa-star{
  color: var(--primary-color);
}
.product-detail {
    padding: 40px 0;
}

.product-images {
    text-align: center;
    padding: 0;
}
  
.main-image {
    width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.thumbnail-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.thumbnail:hover {
    border: 2px solid var(--primary-color);
    transform: scale(1.05);
}

/* PRODUCT INFO */
.product-info {
  padding-left: 100px;
}

.product-title {
  font-size: 45px;
  font-weight: bold;
  color: var(--primary-color);
}

.product-price {
  font-size: 35px;
  color: var(--text-color);
  font-weight: 600;
}

.old-price {
  font-size: 20px;
  color: var(--neutral-color);
  text-decoration: line-through;
  margin-left: 10px;
  font-weight: 200;
}

.product-options{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.color-option p, .size-option p, .quantity-option p{
  margin-bottom: 10px;
  line-height: 24px;
}

.color-option-list{
  display: flex;
  gap: 15px;
}

.color-option-item {
  width: 90px;
  object-fit: cover;
  cursor: pointer;
}

.color-option-item:hover {
  border: 2px solid var(--primary-color);
}

.color-option-item.active {
    border: 2px solid var(--primary-color);
    background-color: var(--hover-button);
}

.size-option-list {
  display: flex;
  gap: 20px;
}

.size-btn {
  padding: 0px 5px;
  line-height: 24px;
  height: 29px;
  border: 1px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.size-btn.active, .size-btn:hover {
  background: var(--hover-button);
  color: white;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-color);
  width: fit-content;
}

.quantity-btn {
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--neutral-color);
}

.quantity-input {
  width: 50px;
  text-align: center;
  border: none;
  border-left: 1px solid var(--neutral-color);
  border-right: 1px solid var(--neutral-color);
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* BUTTON ADD, BUY NOW */
.button-buy-option {
  display: flex;
  gap: 10px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.add-to-cart, .buy-now {
  width: 100%;
  border: none;
  font-size: 26px;
  margin-top: 15px;
  border-radius: 45px;
  font-weight: 600;
  padding: 5px;
}

.add-to-cart {
  background: white;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.add-to-cart:hover {
  background: var(--primary-color);
  color: white;
}

.buy-now {
  background: var(--primary-color);
  color: white;
}

.buy-now:hover {
  background: var(--hover-button);
}

.product-benefits {
  margin-top: 20px;
  display: flex;
  gap: 48px;
}

.product-benefits-list{
  padding: 0;
}

.product-benefits li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.product-description {
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  display: flex;
  margin-top: 48px;
  padding: 24px 48px;
  flex-direction: column;
  align-items: stretch;
}

.description-text {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 16px;
}

.read-more-button {
  border-radius: 45px;
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  align-self: center;
  display: flex;
  min-height: 41px;
  width: 231px;
  max-width: 100%;
  padding: 5px 72px;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.read-more-icon {
  aspect-ratio: 2.38;
  object-fit: contain;
  object-position: center;
  width: 19px;
  margin-top: 5px;
}

.reviews-section {
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  display: flex;
  margin-top: 48px;
  width: 100%;
  padding: 24px 48px;
  flex-direction: column;
  align-items: stretch;
}


.reviews-header {
  align-self: center;
  display: flex;
  margin-top: 24px;
  gap: 80px;
  justify-content: start;
  flex-wrap: wrap;
}

.average-rating {
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  width: 152px;
}

.rating-score-container {
  font-size: 4.5rem;
  color: var(--primary-color);
  font-weight: 700;
  white-space: nowrap;
  line-height: 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rating-score {
  display: block;
}

.rating-stars {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.rating-stars i {
  color: var(--primary-color);
  font-size: 1.125rem;
}

.total-reviews {
  align-self: start;
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 8px;
  display: block;
}

.rating-breakdown {
  align-self: stretch;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 7px;
  padding-bottom: 6px;
  overflow: hidden;
  width: 442px;
}

.rating-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.star-count {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  width: 20px;
  text-align: center;
}

.star-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon i {
  color: var(--primary-color);
  font-size: 16px;
}

.progress-bar {
  border-radius: 10px;
  background-color: var(--neutral-color);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 271px;
  flex-shrink: 0;
  max-width: 100%;
  height: 14px;
  overflow: hidden;
}

.progress-fill {
  border-radius: 10px;
  background-color: var(--primary-color);
  height: 100%;
}

.rating-count {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.review-cta {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-prompt {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 24px;
}

.write-review-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 45px;
  background-color: var(--secondary-color);
  border: none;
  padding: 8px 24px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.write-review-button:hover {
  background-color: var(--hover-button);
  color: white
}

.write-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.reviews-list {
  display: flex;
  margin-top: 4.5rem;
  min-height: 948px;
  flex-direction: column;
}

.review-item {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin-bottom: 16px;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: start;
}

.reviewer-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.review-rating {
  aspect-ratio: 6.06;
  object-fit: contain;
  object-position: center;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 16px;
  flex-shrink: 0;
}

.verified-purchase {
  border-radius: 10px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.verified-purchase span {
  border-radius: 10px;
  background-color: var(--neutral-color);
  padding: 8px;
  display: inline-block;
}

.review-date {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  margin-top: 8px;
}

.review-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  align-self: stretch;
  margin: 0;
  margin-top: 8px;
}

.review-images {
  display: flex;
  margin-top: 14px;
  align-items: stretch;
  gap: 1rem;
}

.review-image {
  aspect-ratio: 0.89;
  object-fit: contain;
  object-position: center;
  width: 90px;
  flex-shrink: 0;
}

.pagination {
  align-self: center;
  display: flex;
  margin-top: 16px;
  width: 86px;
  align-items: stretch;
  gap: 6px;
  font-size: 22px;
  color: var(--neutral-color);
  font-weight: 500;
  line-height: 1;
}

.page-number {
  cursor: pointer;
}

.page-number.active {
  color: var(--primary-color);
}

/*RELATED PRODUCTS*/
.related-products {
  margin-top: 50px;
  width: 100%;
}

.section-header {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  align-self: start;
  font-size: 35px;
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 24px;
}

.description-title {
  composes: section-title;
}

.view-more-button {
  align-self: stretch;
  border-radius: 45px;
  border: 1px solid var(--primary-color);
  margin-top: 9px;
  min-height: 38px;
  padding: 4px 18px 4px 17px;
  font-size: 22px;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1;
  background: none;
  cursor: pointer;
}

.products-slider {
  display: flex;
  margin-top: 37px;
  width: 100%;
  align-items: center;
  gap: 1px;
  flex-wrap: wrap;
}

.slider-nav {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slider-nav img {
  aspect-ratio: 0.99;
  object-fit: contain;
  object-position: center;
  width: 99px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.products-row {
  align-self: stretch;
  display: flex;
  min-height: 454px;
  align-items: center;
  gap: 40px;
  justify-content: start;
  flex-wrap: wrap;
}

.product-card {
  border-radius: 0;
  align-self: stretch;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 1;
  flex-shrink: 1;
  width: 242px;
}

.product-card-content {
  background-color: var(--white-color);
  box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.22);
  display: flex;
  width: 100%;
  padding: 9px 13px;
  flex-direction: column;
  align-items: stretch;
}

.product-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--primary-color);
}

.product-card-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.current-price {
  font-size: 16px;
  font-weight: 400;
  align-self: start;
  margin-top: 9px;
}

.product-discount {
  align-self: start;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 300;
  text-decoration: line-through;
}

.discount-icon {
  aspect-ratio: 1.11;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: end;
}

.original-price {
  align-self: start;
  margin-top: 6px;
}

/* Media Queries */
@media (max-width: 991px) {
  .product-detail-container {
    margin: 0 20px;
  }

  .reviews-section {
    max-width: 100%;
    padding: 45px 20px 17px;
    margin-top: 40px;
  }

  .reviews-title {
    margin-left: 4px;
  }

  .reviews-header {
    max-width: 100%;
    gap: 40px;
  }

  .rating-score-container {
    font-size: 40px;
    line-height: 45px;
    white-space: initial;
  }

  .rating-score {
    font-size: 40px;
    line-height: 45px;
  }

  .rating-stars {
    margin-left: 10px;
  }

  .rating-breakdown {
    max-width: 100%;
  }

  .rating-row {
    max-width: 100%;
    margin-right: 8px;
  }

  .review-cta {
    max-width: 100%;
  }

  .review-prompt {
    max-width: 100%;
  }

  .write-review-button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .reviews-list {
    margin-top: 40px;
  }

  .product-info {
    margin-left: 3px;
  }

  .add-to-cart-button {
    margin-left: 10px;
  }

  .buy-now-button {
    margin-right: 2px;
    margin-left: 4px;
    padding: 12px 20px;
  }
}