<header class="header">
    <div class="menu">
      <div class="logo">
        <img src="C:\Users\Dell\OneDrive\Desktop\Hoj\web\Final\fluffy-app\src\assets" alt="Logo">
        <div>
          <h1>FLUFFY STORE</h1>
          <p>Warm hug, warm heart</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <i class="fas fa-search"></i>
      </div>
      <div class="nav-icons">
        <div>
          <i class="fas fa-truck"></i>
          <span>Tra cứu <br> đơn hàng</span>
        </div>
        <div>
          <i class="fas fa-shopping-cart"></i>
          <span>Giỏ <br> hàng</span>
        </div>
        <div>
          <i class="fas fa-bell"></i>
          <span>Thông <br> báo</span>
        </div>
        <div>
          <i class="fas fa-user"></i>
          <span>Đăng nhập/ <br> Đăng ký</span>
        </div>
      </div>
    </div>
  
    <nav class="nav">
      <div class="menu">
        <a href="#"><div class="menu-item">TRANG CHỦ</div></a>
        <div class="menu-item">SẢN PHẨM <i class="fas fa-chevron-down"></i></div>
        <div class="menu-item">BỘ SƯU TẬP <i class="fas fa-chevron-down"></i></div>
        <div class="menu-item">VỀ FLUFFY</div>
      </div>
    </nav>
  </header>
  