<div class="top-container">
    <div class = "top-container">
       <div class="slider-container">
       <div class="slides">
           <div class="slide active">
               <img src="https://theme.hstatic.net/200000856317/1001220433/14/slide_1_mb.jpg?v=324" alt="Banner 1" >
           </div>

           <div class="slide">
               <img src="img/sale 55 Banner (1).png" alt="Banner 2" >
           </div>

           <div class="slide">
               <img src="img/3.png" alt="Banner 3"  >
           </div>
       </div>

       <div class="dots-container">
         <span class="dot active" onclick="currentSlide(1)"></span>
         <span class="dot" onclick="currentSlide(2)"></span>
         <span class="dot" onclick="currentSlide(3)"></span>
     </div>
     </div>
   </div>
       
       <!-- Nút điều hướng -->
</div>
   
 
<div class="main-container">
     <div class="best-seller">
       <h2>SẢN PHẨM BÁN CHẠY</h2>
   </div>
 
     <div class="sales">
       <h2>SẢN PHẨM KHUYẾN MÃI</h2>
     </div>
 
     <div class="bst">
       <!-- BST Fashion -->
       <div class="bst-container">
         <img src="https://theme.hstatic.net/200000856317/1001220433/14/img_home_banner_desktop_1.jpg?v=324  " alt="BST Fashion">
         <div class="card-content">
           <div class="card-title">
             <h3>BST FASHION IS IN THE AIR</h3>
           </div>
           <div class="card-description">
             Fluffy tự hào mang đến "BST FASHION IS IN THE AIR" - BST thời trang mới nhất, mang hơi thở của những xu hướng đang thịnh hành. Với BST này, bạn có thể tự tin thể hiện phong cách riêng của mình và luôn nổi bật trong mọi hoàn cảnh.
           </div>
           <a href="#" class="btn">XEM CHI TIẾT</a>
         </div>
       </div>
     
       <!-- BST Giáng Sinh -->
       <div class="bst-container">
         <img src="https://theme.hstatic.net/200000856317/1001220433/14/img_home_banner_desktop_2.jpg?v=324"  alt="BST Giáng Sinh">
         <div class="card-content">
           <div class="card-title">
             <h3>BST GIÁNG SINH</h3>
           </div>
           <div class="card-description">
             Bạn đã sẵn sàng đón Giáng Sinh cùng gấu bông siêu đáng yêu chưa? Fluffy Store sắp ra mắt "BST Giáng Sinh" với những mẫu gấu bông độc đáo và mềm mại. Hãy cùng đếm ngược và chờ đón những bất ngờ thú vị từ Fluffy nhé!
           </div>
           <a href="#" class="btn">XEM CHI TIẾT</a>
         </div>
       </div>
     </div>
 
     <div class="about-us">
       <h2>VỀ FLUFFY</h2>
       <div class="about-container">
         <img src="https://theme.hstatic.net/200000856317/1001220433/14/about01_banner_bkg.jpg?v=324">
         <div class="about-content">
           <div class = "about-text">
             Tại <span class="highlight">Fluffy</span>, chúng tôi tin rằng mỗi đứa trẻ đều cần được che chở, yêu thương và ấm áp bởi những điều ấm áp nhất. Với slogan <span class="highlight">"Warm hug, warm heart"</span>, <span class="highlight">Fluffy</span> mong muốn đem niềm vui và sự an ủi cho mọi đứa trẻ.
             <span class="highlight">Fluffy</span> luôn nỗ lực cung cấp những chú gấu bông mềm mại, đáng yêu, được thiết kế tỉ mỉ và an toàn cho sức khỏe. Mang đến cho khách hàng không chỉ những sản phẩm chất lượng mà còn là những trải nghiệm mua sắm tuyệt vời, để mỗi người đến với <span class="highlight">Fluffy</span> đều cảm nhận được sự ấm áp và yêu thương.
         </div>
         </div>
       </div>
     </div>
 
     <div class="benefits-container">
       <div class="benefit-item">
         <img src="https://img.icons8.com/?size=100&id=pxWwSVIqQ14n&format=png&color=EB5265">
         <div class="benefit-title">KHUYẾN MÃI LIÊN TỤC</div>
         <div class="benefit-description">Có rất nhiều deal hot, voucher, mã giảm giá</div>
       </div>
 
       <div class="benefit-item">
         <img src="https://img.icons8.com/?size=100&id=Cgu81kzSlCZy&format=png&color=EB5265">
         <div class="benefit-title">TƯ VẤN TRỰC TUYẾN</div>
         <div class="benefit-description">Được tư vấn kỹ càng, tận tình và nhanh chóng</div>
       </div>
 
       <div class="benefit-item">
         <img src="https://img.icons8.com/?size=100&id=487&format=png&color=EB5265">
         <div class="benefit-title">GIAO HÀNG NHANH</div>
         <div class="benefit-description">Giao hàng nhanh chóng, đóng gói cẩn thận</div>
       </div>
 
       <div class="benefit-item">
         <img src="https://img.icons8.com/?size=100&id=2i2jDnoEm4ER&format=png&color=EB5265">
         <div class="benefit-title">SẢN PHẨM THIẾT KẾ ĐỘC QUYỀN</div>
         <div class="benefit-description">Các loại thú bông độc quyền chỉ có tại nhà FLUFFY</div>
       </div>
     </div>
</div>
 