<div class="wrapper">
  
    <div class="sidebar">
      <h2>CHÍNH SÁCH</h2>
      <ul>
        <li *ngFor="let policy of policies; let i = index" [ngClass]="{'active': i === policies.length - 1}">
          <img src="https://img.icons8.com/?size=100&id=26083&format=png&color=EB5265" alt="Icon" class="menu-icon">
          <a (click)="scrollToSection(policy.id)">{{ policy.title }}</a>
        </li>
      </ul>
    </div>
  
    <div class="policy-container">
      <h1 class="policy-title">CHÍNH SÁCH</h1>

      <div class="policy-section" id="policy-1">
        <h2>1. Chính sách đổi trả và bảo hành</h2>
        <p>Điều khiện đổi trả sản phẩm</p>
        <p>Quý Khách hàng có thể kiểm tra tình trạng hàng hóa và có thể đổi hàng/trả lại hàng ngay tại thời điểm giao nhận hàng trong trường hợp sau:</p>
        <ul>
            <li>Sản phẩm không đúng chủng loại, màu mã, mẫu mã như trên website tại thời điểm đặt hàng: Hoàn tiền 100%, miễn phí vận chuyển hàng trả lại.</li>
            <li>Sản phẩm bị lỗi kỹ thuật: Hoàn tiền 100%, miễn phí vận chuyển hàng trả lại.</li>
            <li>Sản phẩm không đúng ý theo nhu cầu sử dụng của khách hàng: Gửi trả hàng một lần hoặc bảng giá trị hàng đổi trả (quý khách vui lòng chuyển hàng trả lại).</li>
            <li>Các sản phẩm khuyến mãi trong các chương trình sale, thanh lý không được hỗ trợ đổi hàng.</li>
            <li>Sản phẩm phải còn nguyên vẹn, nguyên tem mác, chưa qua sử dụng, không bị dơ bẩn và sửa chữa.</li>
        </ul>
        <p>Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng hóa.</p>
        <p>Quy định về thời gian thông báo và gửi sản phẩm đổi trả:</p>
        <ul>
          <li>Thời gian thông báo đổi trả: trong vòng 48h kể từ khi nhận sản phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bị hư hỏng.</li>
          <li>Thời gian gửi chuyển trả sản phẩm: Quý khách có thể thực hiện đổi trả hàng miễn phí trong vòng 03 ngày và đổi mới trong vòng 15 ngày kể từ khi nhận sản phẩm.</li>
          <li>Địa điểm đổi trả sản phẩm: Khách hàng có thể mang hàng trực tiếp đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.</li>  
        </ul>
        <p>Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi.</p>
      </div>
  
      <div class="policy-section" id="policy-2">
        <h2>2. Chính sách bảo mật</h2>
        <p>Điều khiện áp dụng:</p>
        <ul>
          <li>Khách hàng vui lòng xuất trình hóa đơn mua hàng (ảnh chụp lại hóa đơn). Hoặc có tin nhắn/ inbox chứng minh mua sản phẩm tại shop.</li>
          <li>Sản phẩm được bảo hành miễn phí trong thời gian sử dụng từ 3-6 tháng kể từ ngày mua trong các trường hợp sau:</li>
          <li>Gấu bục rách, đứt chỉ trong quá trình sử dụng.</li>
          <li>Không bảo hành sản phẩm đối với các trường hợp:  Phụ kiện mắt mũi , nơ mất hẳn.</li>
        </ul>
      </div>
  
      <div class="policy-section" id="policy-3">
        <h2>3. Chính sách vận chuyển</h2>
        <p>hông thường sau khi nhận được thông tin đặt hàng chúng tôi sẽ xử lý đơn hàng trong vòng 24h và phản hồi lại thông tin cho khách hàng về việc thanh toán và giao nhận. Thời gian giao hàng thường trong khoảng từ 3-5 ngày kể từ ngày chốt đơn hàng hoặc theo thỏa thuận với khách khi đặt hàng. Tuy nhiên, cũng có trường hợp việc giao hàng kéo dài hơn nhưng chỉ xảy ra trong những tình huống bất khả kháng như sau:</p>
        <ul>
          <li>Nhân viên công ty sẽ liên lạc với khách hàng qua điện thoại không được nên không thể giao hàng.</li>
          <li>Địa chỉ giao hàng bạn cung cấp không chính xác hoặc khó tìm.</li>
          <li>Số lượng đơn hàng của công ty tăng đột biến khiến việc xử lý đơn hàng bị chậm.</li>
          <li>Đối tác cung cấp nguyên liệu cho công ty chậm hơn dự kiến khiến việc giao hàng bị chậm lại hoặc đối tác vận chuyển giao hàng bị chậm chỉ vận chuyển phân phối cho đại lý hoặc khách hàng có nhu cầu lớn, lâu dài. Vì thế công ty đa phần sẽ hỗ trợ chi phí vận chuyển như một cách chăm sóc đại lý cua mình. Đối với khách lẻ nếu có nhu cầu sử dụng lớn vui lòng liên hệ trực tiếp để thỏa thuận hợp đồng cũng như phí vận chuyển.</li>
        </ul>
      </div>
  
      <div class="policy-section" id="policy-4">
        <h2>4. Chính sách thanh toán</h2>
        <ul>
          <li>Thanh toán trực tiếp tiền mặt.</li>
          <li>Thanh toán khi nhận được hàng.</li>
          <li>Thanh toán bằng hình thức chuyển khoản.</li>
        </ul>
        <p>Thông tin chi tiết về số tài khoản chúng tôi sẽ gửi qua SMS/zalo/inbox facebook/email cho quý khách.</p>
        <ul>
          <li>Lưu ý: Nội dung chuyển khoản ghi rõ họ tên hoăc số điện thoại và chuyển cho đơn hàng nào. Sau khi chuyển khoản, chúng tôi sẽ liên hệ xác nhận và tiến hành giao hàng. Nếu sau thời gian thỏa thuận mà chúng tôi không giao hàng hoặc không phản hồi lại, quý khách có thể gửi khiếu nại trực tiếp về công ty và yêu cầu bồi thường nếu chứng minh được sự chậm trễ làm ảnh hưởng đến công việc của quý khách.</li>
        </ul>
        <p>Đối với khách hàng có nhu cầu mua số lượng lớn để kinh doanh hoặc buôn sỉ vui lòng liên hệ trực tiếp với chúng tôi để có chính sách giá cả hợp lý. Và việc thanh toán sẽ được thực hiện theo hợp đồng.</p>
        <p>Chúng tôi cam kết kinh doanh minh bạch, hợp pháp, bán hàng chất lượng, có nguồn gốc rõ ràng.</p>
      </div>
    </div>
</div>