<div class="container">
  <div class="checkout-container">
    <div class="checkout-form">
      <div class="login">
        <h2>Thông tin mua hàng</h2>
        <a routerLink="/login" class="login-btn">
          <img src="https://img.icons8.com/?size=100&id=85147&format=png&color=EB5265"> Đăng nhập
        </a>
      </div>
      <form>
        <input type="text" [(ngModel)]="orderDetails.name" name="name" placeholder="Họ và tên" required>
        <input type="email" [(ngModel)]="orderDetails.email" name="email" placeholder="Email" required>
        <input type="tel" [(ngModel)]="orderDetails.phone" name="phone" placeholder="Số điện thoại" required>
        <select [(ngModel)]="orderDetails.city" name="city"><option>Chọn Tỉnh/Thành phố</option></select>
        <select [(ngModel)]="orderDetails.district" name="district"><option>Chọn Quận/Huyện</option></select>
        <select [(ngModel)]="orderDetails.ward" name="ward"><option>Chọn Phường/Xã</option></select>
        <input type="text" [(ngModel)]="orderDetails.address" name="address" placeholder="Địa chỉ chi tiết" required>
        <textarea [(ngModel)]="orderDetails.note" name="note" placeholder="Ghi chú mua hàng (nếu có)"></textarea>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="orderDetails.giftWrap" name="giftWrap">
          <span class="text">Dịch vụ gói quà</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="orderDetails.vacuumSeal" name="vacuumSeal">
          <span class="text">Dịch vụ hút chân không</span>
        </label>
      </form>
    </div>

    <div class="payment-method">
      <h2>Phương thức thanh toán</h2>
      <label class="checkbox-container">
        <input type="radio" [(ngModel)]="orderDetails.paymentMethod" name="paymentMethod" value="cod">
        <span class="text">Thanh toán khi nhận hàng</span>
      </label>
      <label class="checkbox-container">
        <input type="radio" [(ngModel)]="orderDetails.paymentMethod" name="paymentMethod" value="bank">
        <span class="text">Thanh toán qua ngân hàng</span>
      </label>
      <div class="bank-info" *ngIf="orderDetails.paymentMethod === 'bank'">
        <p>Ngân hàng MB Bank</p>
        <p>STK: 0795446148</p>
        <p>Trần Thị Thùy Trang</p>
        <p><i>Nội dung chuyển khoản: "Số điện thoại bạn dùng để nhận hàng"</i></p>
      </div>
      <label class="checkbox-container">
        <input type="radio" [(ngModel)]="orderDetails.paymentMethod" name="paymentMethod" value="wallet">
        <span class="text">Thanh toán bằng ví điện tử</span>
      </label>
    </div>
  </div>

  <!-- Order Summary -->
  <div class="order-summary">
    <h2>Đơn hàng ({{ checkoutProducts.length }} sản phẩm)</h2>
    <div *ngFor="let product of checkoutProducts" class="product">
      <img [src]="product.image" [alt]="product.name || product.product_name">
      <div class="product-details">
        <p class="product-name">{{ product.name || product.product_name }}</p>
        <div class="info">
          <p>Màu sắc: <b>{{ product.color }}</b></p>
          <p>Số lượng: <b>{{ product.quantity }}</b></p>
          <p>Kích thước: <b>{{ product.size }}</b></p>
        </div>
      </div>
    </div>
    <div class="price-info">
      <p class="label">Tạm tính:</p>
      <p class="value">{{ totalAmount | number }}đ</p>
    </div>
    <div class="price-info">
      <p class="label">Phí vận chuyển:</p>
      <p class="value">0đ</p>
    </div>
    <div class="promo">
      <div>
        <i class="fas fa-percent"></i>
        <span>Mã khuyến mãi</span>
      </div>
      <a href="#" (click)="applyPromo()">Chọn mã ></a>
    </div>
    <div class="total-price">
      <p>Tổng cộng:</p>
      <p>{{ totalAmount | number }}đ</p>
    </div>
    <button class="order-btn" (click)="onSubmit()">Đặt hàng</button>
  </div>
</div>