

<div class = "top-container">
<!-- BANNER -->
    <div class = "banner">
        <img src="https://theme.hstatic.net/200000856317/1001220433/14/about01_banner_bkg.jpg?v=324" alt="Fluffy Background" class="banner-image">
    </div>

<!-- VỀ CHÚNG TÔI -->
<div class="top-content">
    <h2>Về chúng tôi</h2>
    <h3>THƯƠNG HIỆU FLUFFY</h3>
    <p>
        Bắt đầu bằng sự đam mê và tiếp bước hành trình bằng trách nhiệm, chúng tôi luôn nỗ lực để mang đến cho khách hàng những sản phẩm  chất lượng và trải nghiệm mua sắm tốt nhất. Chúng tôi tin rằng, sự mềm mại không chỉ dừng lại ở những vật liệu, mà còn là câu chuyện đằng sau từng chiếc nơ, từng đường may, từng cái ôm ta trao nhau.
        <br/>
        Nhà FLUFFY mong muốn thúc đẩy văn hóa yêu thương và chia sẻ  thông qua những món quà thú bông. Với châm ngôn "Warm Hearts, Warm Hugs",FLUFFY không chỉ là một thương hiệu gấu bông, mà còn  là ngôi nhà của những trái tim đầy tình yêu và những cái ôm đầy ý nghĩa. Mỗi chiếc gấu FLUFFY không chỉ là một món đồ chơi, mà còn là một biểu tượng của tình thương và sự chăm sóc.
    </p>
  </div>
</div>


<!-- MAIN CONTAINER -->
    <div class = "main-container">    

<!-- ĐAM MÊ -->
<div class = "passion">
    <h2>Câu chuyện người trẻ khởi nghiệp</h2>
    <h3>ĐAM MÊ</h3>
    <div class = "passion-container">
        <img src="https://theme.hstatic.net/200000856317/1001220433/14/about01_introduce1_img.jpg?v=324">

        <div class ="passion-text">
                FLUFFY không bắt đầu với một kế hoạch kinh doanh chi tiết hoặc một ngân sách tiên liệu lớn. Thay vào đó, nó bắt đầu từ một ý tưởng, từ tình yêu và những câu chuyện đầy cảm hứng. Chúng tôi tự hào là đôi chân của những đam mê đang trên đường đến tương lai tươi sáng. Chúng tôi không chỉ là doanh nghiệp, chúng tôi còn là những người bạn, những người giúp ích trong hành động. Chúng tôi cùng nhau trải qua những thăng trầm, hào hứng lẫn khó khăn và tiên hướng những khả năng khác ngột ngạt của thành công. Chúng tôi tin rằng, với niềm đam mê và sự nỗ lực không ngừng, FLUFFY sẽ tiếp tục viết qua một hành trình và đạt được những thành công trong khởi nghiệp.
        </div>
    </div>
</div>

<!-- TRÁCH NHIỆM -->
 <div class = "resposibility">
    <h2>Câu chuyện khởi nghiệp</h2>
    <h3>TRÁCH NHIỆM </h3>
    <div class = "resposibility-container">
        <div class ="resposibility-text">
            Khởi nguồn từ đam mê, Fluffy Store đã lớn mạnh và gắn bó với khách hàng đến ngày hôm nay bằng tất cả trách nhiệm và sự kiên trì. Chúng tôi không chỉ tạo ra những chú thú bông đáng yêu, mà còn xây dựng một thương hiệu mà khách hàng có thể tin tưởng và yêu mến. Mỗi đường kim, mũi chỉ, mỗi ý tưởng sáng tạo đều chứa đựng trọn vẹn trái tim và tâm huyết của chúng tôi. Điều quan trọng nhất là giữ vững ngọn lửa đam mê ban đầu, không bao giờ để nó lụi tàn. Fluffy Store cam kết không chỉ mang đến những sản phẩm chất lượng cao, mà còn tạo ra những trải nghiệm mua sắm ý nghĩa và đáng nhớ cho mỗi khách hàng. Chúng tôi tin rằng, mỗi chú thú bông không chỉ là một món đồ chơi, mà còn là một người bạn đồng hành, mang đến niềm vui và sự ấm áp. Đó chính là giá trị cốt lõi mà Fluffy Store luôn hướng tới.
         </div>

         <img src="https://theme.hstatic.net/200000856317/1001220433/14/about01_introduce2_img.jpg?v=324">
         
    </div>
</div>


<!-- ĐIỂM NỔI BẬT -->
<div class="benefits-container">
    <div class="benefit-item">
      <img src="https://img.icons8.com/?size=100&id=pxWwSVIqQ14n&format=png&color=EB5265">
      <div class="benefit-title">KHUYẾN MÃI LIÊN TỤC</div>
      <div class="benefit-description">Có rất nhiều deal hot, voucher, mã giảm giá</div>
    </div>

    <div class="benefit-item">
      <img src="https://img.icons8.com/?size=100&id=Cgu81kzSlCZy&format=png&color=EB5265">
      <div class="benefit-title">TƯ VẤN TRỰC TUYẾN</div>
      <div class="benefit-description">Được tư vấn kỹ càng, tận tình và nhanh chóng</div>
    </div>

    <div class="benefit-item">
      <img src="https://img.icons8.com/?size=100&id=487&format=png&color=EB5265">
      <div class="benefit-title">GIAO HÀNG NHANH</div>
      <div class="benefit-description">Giao hàng nhanh chóng, đóng gói cẩn thận</div>
    </div>

    <div class="benefit-item">
      <img src="https://img.icons8.com/?size=100&id=2i2jDnoEm4ER&format=png&color=EB5265">
      <div class="benefit-title">SẢN PHẨM THIẾT KẾ ĐỘC QUYỀN</div>
      <div class="benefit-description">Các loại thú bông độc quyền chỉ có tại nhà FLUFFY</div>
    </div>
  </div>


</div>


