<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="intro">
          <h3>Fluffy</h3>
          <p>Với sản phẩm chất lượng và sự chăm sóc khách hàng tận tình, Fluffy sẽ là cửa hàng mang lại trải nghiệm mua sắm gấu bông tuyệt vời cho các bạn.</p>
        </div>
        <div class="connect">
          <h3>Kết nối với chúng tôi</h3>
          <div class="social-icons">
            <a href="https://www.facebook.com/fluffystore.ne" target="_blank"><img src="assets/icons/media/facebook_icon.png" alt="Facebook"></a>
            <a href="#"  target="_blank"><img src="assets/icons/media/instagram_icon.png"  alt="Instagram"></a>
            <a href="#"  target="_blank"><img src="assets/icons/media/tiktok_icon.png" alt="TikTok"></a>
          </div>
        </div>
        
      </div>
      
      <div class="footer-right">
        <!-- Cột 2: Liên hệ -->
        <div class="footer-rigth-column">
          <h3><a href="">Liên hệ</a></h3>
          <ul class="contact">
            <li><img src="../../assets/icons/product-detail/locate.png" alt="location" class="contact-icon"><p>54 đường số 5, phường Linh Xuân, TP Thủ Đức</p></li>
            <li><img src="../../assets/icons/product-detail/phone.png" alt="phone" class="contact-icon" ><p>0917 562 350</p></li>
            <li><img src="../../assets/icons/product-detail/mail.png" alt="email" class="contact-icon"><p>gaubongfluffy&#64;gmail.com</p></li>
          </ul>
          
        </div>
    
        <!--Sản phẩm -->
        <div class="footer-rigth-column">
          <h3><a [routerLink]="['/product-page']" routerLinkActive="active">Sản phẩm</a></h3>
          <ul>
            <li><a [routerLink]="['/product-page']" routerLinkActive="active">Sản phẩm khuyến mãi</a></li>
            <li><a [routerLink]="['/product-page']" routerLinkActive="active">Sản phẩm bán chạy</a></li>
            <li><a [routerLink]="['/product-page']" routerLinkActive="active">Bộ sưu tập mới</a></li>
            <li><a [routerLink]="['/product-page']" routerLinkActive="active">Tất cả sản phẩm</a></li>
          </ul>
        </div>
    
        <!-- Chính sách -->
        <div class="footer-rigth-column">
          <h3><a  [routerLink]="['/salespolicy']" routerLinkActive="active">Chính sách</a></h3>
          <ul>
            <li><a [routerLink]="['/salespolicy']" routerLinkActive="active">Chính sách đổi trả và bảo hành</a></li>
            <li><a [routerLink]="['/salespolicy']" routerLinkActive="active">Chính sách bảo mật</a></li>
            <li><a [routerLink]="['/salespolicy']" routerLinkActive="active">Chính sách vận chuyển</a></li>
            <li><a [routerLink]="['/salespolicy']" routerLinkActive="active">Chính sách thanh toán</a></li>
          </ul>
        </div>
        </div>
      
    </div>
  
    <!-- Copyright -->
     <hr>
    <div class="footer-bottom">
        <p>Copyright © 2025 Fluffy.</p>
    </div>
</footer>
   
  