<div class="container">
    <div class="signup-section">
        <img src="assets/images/signup/logoFluffy.png" alt="Fluffy Logo">
    </div>
    <div class="signup-box">
        <h2 class="title">ĐĂNG KÝ</h2>
        <form (ngSubmit)="onSignup()">
            <div class="input-group">
                <input type="email" [(ngModel)]="email" name="email" placeholder="Nhập email" required>
            </div>
            <div class="input-group password-group">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Nhập mật khẩu" required>
            </div>
            <div class="input-group password-group">
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" required>
            </div>
            <div class="term-of-use">
                <label>
                    <input type="checkbox" [(ngModel)]="agreeToTerms" name="agreeToTerms"> 
                    Xác nhận đăng kí với điều kiện sử dụng thông tin của Fluffy
                </label>
            </div>
            <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
            <button type="submit" class="login-btn">Đăng kí</button>
            <div class="login">
                <div>Đã có tài khoản?</div>
                <a class="login-text" [routerLink]= "['/login']">Đăng nhập</a>
            </div>
            <hr class="hr">

            <div class="social-login">
                <p><b>Hoặc đăng ký với</b></p>
                <div class="social-buttons">
                    <a href="https://www.facebook.com/" target="_blank" class="social-btn facebook">
                        <img src="assets/images/signup/facebook.png" alt="Facebook"> 
                    </a>
                    <a href="https://accounts.google.com/" target="_blank" class="social-btn google">
                        <img src="assets/images/signup/google.png" alt="Google">
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>